<!-- 
    This launch file starts everything that is needed, so /scripts/behavior_node_dummy.py can be tested.
 -->

<launch>
    <node name="audio_from_lilypond" pkg="marimbabot_audio" type="audio_from_lilypond.py"/>
    <include file="$(find marimbabot_ur5_flex_double_moveit_config)/launch/demo.launch"/>
    <include file="$(find marimbabot_planning)/launch/marimbabot.launch"/>
    <node name="behavior_node" pkg="marimbabot_behavior" type="behavior_node.py" output="screen"/>
</launch>