*.pyc
__pycache__/

.vscode/

marimbabot_vision/scripts/data*
marimbabot_vision/scripts/test_data*

marimbabot_vision/scripts/lightning_logs/
marimbabot_vision/scripts/model*


marimbabot_audio/playground
.idea
.vscode
