*.pyc
__pycache__/

.vscode/

python_env/

marimbabot_vision/scripts/data*
marimbabot_vision/scripts/test_data*

marimbabot_vision/scripts/lightning_logs/
marimbabot_vision/scripts/model*


marimbabot_audio/playground
.idea
.vscode

lib
logs

marimbabot_simulation/midi/