<launch>
  <node name="audio_capture" pkg="audio_capture" type="audio_capture" output="screen">
    <param name="device" value="" />
    <param name="format" value="wave" />
    <param name="channels" value="1" />
    <param name="depth" value="2" />
    <param name="sample_rate" value="16000" />
  </node>
  <node name="command_Audio2TmpFile_node" pkg="marimbabot_command_recognition" type="audio2tmp.py"/>
<!--  <node name="command_SpeechRecognition_node" pkg="marimbabot_command_recognition" type="speech2text.py"/>-->
<!--  <node name="command_Text2Command_node" pkg="marimbabot_command_recognition" type="text2command.py"/>-->
<!--  <node name="speech_Text2Speech_node" pkg="marimbabot_command_recognition" type="text2speech.py"/>-->
</launch>
