<?xml version="1.0"?>
<launch>
    <arg name="gui" default="true" />
    <arg name="rvizconfig" default="$(find marimbabot_description)/rviz/urdf.rviz" />

    <param name="robot_description" command="xacro '$(find marimbabot_description)/urdf/flex_mallet_holder.urdf'" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
   
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />
</launch>