<?xml version="1.0"?>
<launch>
  <arg name="joint_ranges_config" default="$(find tams_ur5_description)/config/joint_ranges/elbow_up.yaml"
  doc="Path to the config YAML for joint ranges (e.g. to always keep the elbow up)"/>

  <!-- PositionJointInterface required on real UR5 robot arm, but will not work in Gazebo 
  <arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface" />
  -->
  <arg name="transmission_hw_interface" default="hardware_interface/EffortJointInterface" />

  <arg name="mallet_holder_type" default="static" doc="Type of mallet holder: static, flex or double_flex" />

  <param name="robot_description" command="$(find xacro)/xacro '$(find marimbabot_description)/urdf/marimbabot_ur5.urdf.xacro'
    joint_ranges_config:=$(arg joint_ranges_config)
    transmission_hw_interface:=$(arg transmission_hw_interface)
    mallet_holder_type:=$(arg mallet_holder_type)" />
</launch>
