<launch>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="marimbabot_ur5_upload" default="false"/>

  <include if="$(arg marimbabot_ur5_upload)" file="$(find marimbabot_description)/launch/marimbabot_ur5_upload.launch" />
  <arg name="robot_description" default="robot_description" />

  <!-- The semantic description that corresponds to the URDF -->
  <param name="$(arg robot_description)_semantic" textfile="$(find marimbabot_ur5_moveit_config)/config/marimbabot_ur5.srdf" />

  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find marimbabot_ur5_moveit_config)/config/joint_limits_fast.yaml"/>
    <rosparam command="load" file="$(find marimbabot_ur5_moveit_config)/config/cartesian_limits.yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find marimbabot_ur5_moveit_config)/config/kinematics.yaml"/>

  </group>

</launch>
