<?xml version="1.0"?>
<launch>

    <!-- Include main gazebo launchfile -->
    <include file="$(find marimbabot_simulation)/launch/marimbabot_gazebo.launch"/>

    <!-- Start planning -->
    <include file="$(find marimbabot_planning)/launch/marimbabot.launch"/>

    <!-- Launch bar contact detector -->
    <node name="detect_bar_contact" pkg="marimbabot_simulation" type="detect_bar_contact.py" output="screen"/>

    <!-- Plotjuggler -->
    <group if="true">
        <node name="plotjuggler_with_layout" 
            pkg="plotjuggler"
            type="plotjuggler"
            args="--layout $(find marimbabot_simulation)/config/pj_layout.xml"
        />
    </group>

</launch>