<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="robotiq_s_gripper_gazebo_transmissions" > 


<transmission name="s_model_palm_finger_1_joint_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="s_model_palm_finger_1_joint">
    <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="s_model_palm_finger_1_joint_motor">
    <mechanicalReduction>1</mechanicalReduction>
    </actuator>
</transmission>

 
<transmission name="s_model_finger_1_joint_1_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="s_model_finger_1_joint_1">
    <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="s_model_finger_1_joint_1_motor">
    <mechanicalReduction>1</mechanicalReduction>
    </actuator>
</transmission>

 
<transmission name="s_model_finger_1_joint_2_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="s_model_finger_1_joint_2">
    <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="s_model_finger_1_joint_2_motor">
    <mechanicalReduction>1</mechanicalReduction>
    </actuator>
</transmission>

 
<transmission name="s_model_finger_1_joint_3_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="s_model_finger_1_joint_3">
    <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="s_model_finger_1_joint_3_motor">
    <mechanicalReduction>1</mechanicalReduction>
    </actuator>
</transmission>

 
<transmission name="s_model_palm_finger_2_joint_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="s_model_palm_finger_2_joint">
    <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="s_model_palm_finger_2_joint_motor">
    <mechanicalReduction>1</mechanicalReduction>
    </actuator>
</transmission>

 
<transmission name="s_model_finger_2_joint_1_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="s_model_finger_2_joint_1">
    <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="s_model_finger_2_joint_1_motor">
    <mechanicalReduction>1</mechanicalReduction>
    </actuator>
</transmission>

 
<transmission name="s_model_finger_2_joint_2_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="s_model_finger_2_joint_2">
    <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="s_model_finger_2_joint_2_motor">
    <mechanicalReduction>1</mechanicalReduction>
    </actuator>
</transmission>

 
<transmission name="s_model_finger_2_joint_3_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="s_model_finger_2_joint_3">
    <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="s_model_finger_2_joint_3_motor">
    <mechanicalReduction>1</mechanicalReduction>
    </actuator>
</transmission>

 
<transmission name="s_model_finger_middle_joint_1_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="s_model_finger_middle_joint_1">
    <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="s_model_finger_middle_joint_1_motor">
    <mechanicalReduction>1</mechanicalReduction>
    </actuator>
</transmission>

 
<transmission name="s_model_finger_middle_joint_2_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="s_model_finger_middle_joint_2">
    <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="s_model_finger_middle_joint_2_motor">
    <mechanicalReduction>1</mechanicalReduction>
    </actuator>
</transmission>

 
<transmission name="s_model_finger_middle_joint_3_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="s_model_finger_middle_joint_3">
    <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="s_model_finger_middle_joint_3_motor">
    <mechanicalReduction>1</mechanicalReduction>
    </actuator>
</transmission>


</robot>
