<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="marimba_standalone" >

  <xacro:include filename="$(find marimbabot_description)/urdf/marimba.urdf.xacro" />

  <link name="world" />

  <joint name="world_marimba_joint" type="fixed">
    <parent link="world" />
    <child link = "marimba" />
    <origin xyz="1.25 0.8 0.9" rpy="0.0 0.0 ${pi}" />
  </joint>

  <gazebo>
    <plugin filename="libgazebo_ros_control.so" name="tams_ur5_gazebo_ros_control">
      <robotNamespace>/marimba</robotNamespace> 
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>true</legacyModeNS>
      <updateRate>100.0</updateRate>
    </plugin>
  </gazebo>

</robot>
