<?xml version="1.0" ?>
<robot name="marimba" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find marimbabot_description)/urdf/marimba.urdf.xacro" />
<xacro:include filename="$(find tams_ur5_setup_description)/urdf/tams_ur5_setup.urdf.xacro" />

<joint name="world_marimba_joint" type="fixed">
    <parent link="world" />
    <child link = "marimba" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

</robot>