name: CI

on: [pull_request, workflow_dispatch]

jobs:
  main_ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - uses: 'ros-industrial/industrial_ci@master'
        env:
          ROS_DISTRO: noetic
          ROS_REPO: main
          AFTER_SETUP_TARGET_WORKSPACE: /root/target_ws/src/marimbabot/load_vcs_workspace.sh
